pkgbase = niri-shm-git
	pkgdesc = Scrollable-tiling Wayland compositor patched so portal screen sharing works with Electron clients
	pkgver = 26.04.161.gc4c01f82
	pkgrel = 1
	url = https://github.com/ljm-233/niri-shm
	arch = aarch64
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = clang
	makedepends = rust
	depends = cairo
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libinput
	depends = libpipewire
	depends = libxkbcommon
	depends = mesa
	depends = pango
	depends = pixman
	depends = seatd
	depends = systemd-libs
	depends = xdg-desktop-portal-gtk
	provides = niri=26.04.161.gc4c01f82
	provides = niri
	conflicts = niri
	options = !debug
	options = !lto
	source = git+https://github.com/niri-wm/niri.git#commit=1f03391ea644c2a43597de7f637269e26d1e1b49
	source = 0001-screencasting-advertise-SHM-and-bound-frame-rate.patch
	b2sums = SKIP
	b2sums = 36ec8b2265271fd73b595fc4a82138f95eac695673042553936fd8db7183cb8214190f03723368d739929feebc3a384b53882d220bda88ff16ef2605b58bb39c

pkgname = niri-shm-git
