pkgbase = niri-portal-cast
	pkgdesc = Scrollable-tiling Wayland compositor patched so portal screen capture works with Electron clients
	pkgver = 2026.10.3
	pkgrel = 10
	url = https://github.com/ljm-233/niri-portal-cast
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = clang
	makedepends = rust
	depends = cairo
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libinput
	depends = libpipewire
	depends = libxkbcommon
	depends = mesa
	depends = pango
	depends = pixman
	depends = seatd
	depends = systemd-libs
	depends = xdg-desktop-portal-gtk
	provides = niri=26.04
	provides = niri
	conflicts = niri
	options = !debug
	options = !lto
	source = git+https://github.com/niri-wm/niri.git#commit=ed22699d99462f61ab171472d3ea67e844ea580d
	source = 0001-screencasting-advertise-SHM-and-bound-frame-rate.patch
	source = 0002-screencasting-configurable-frame-rate-and-buffer-pool.patch
	source = 0003-screencasting-drop-nonexistent-shm-buffer-bound.patch
	source = 0004-screencasting-configurable-capture-size-and-scaling.patch
	b2sums = SKIP
	b2sums = 11c822ffd4dc3053e7ca638693e036d18751784df5a14a3955229237bb2f2a8ce9124f035cd8c1d7c908e5d26d189a289ec3fea7e2054b2a1b6a0b265ef3d6fd
	b2sums = a05e160aed5e01b508ed39b8799b00fe4b869775ce9276c7e2065c445a535382ad8452fa9ddb0ff8005efb217c08d13af5fcbaa7bba0e6d3c3dcee94c99df155
	b2sums = 2ea209aec395a9d1f62e0ee9cd48ac7330f73eaa752f249cf734515c27e8be20958e31feb6849be0e6ec6325238f52e5c5a3b5f3dd3d0d86fd1ec64676a51f94
	b2sums = 8ddff8854948f9d5382c7d89c10b047ef73128d63f60f0ec6025df8e70f70d63569d2926d9b176dda88048f59f6a48bc04e58a5bbda7935d226d219a68b4cb3c

pkgname = niri-portal-cast
